<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            <div class="button-row">
                <button mat-fab disabled>
                      <mat-icon>person</mat-icon>
                    </button> YA-Motors (no lugar do icone, colocar o logo)
            </div>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" color="primary" backgroundColor="primary">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon"></mat-icon>
                    Sign-In
                </ng-template>
                <form class="signin-form">
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="abc123@abc.com">
                            <mat-icon matPrefix>email</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>Senha</mat-label>
                            <input matInput placeholder="">
                            <mat-icon matPrefix>lock</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <button mat-fab (click)="onClick" color="primary">
                        <mat-icon class="mat-18">done_outline</mat-icon>
                    </button>
                    </p>
                </form>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon"></mat-icon>
                    Sign-Up
                </ng-template>
                <form class="signup-form">
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="abc123@abc.com">
                            <mat-icon matPrefix>email</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>Senha</mat-label>
                            <input matInput placeholder="">
                            <mat-icon matPrefix>lock</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <button mat-fab (click)="onClick" color="primary">
                        <mat-icon class="mat-18">done_outline</mat-icon>
                    </button>
                    </p>
                </form>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon"></mat-icon>
                    Forget Password
                </ng-template>

                <form class="forgetpass-form">
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="abc123@abc.com">
                            <mat-icon matPrefix>email</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>Senha</mat-label>
                            <input matInput placeholder="">
                            <mat-icon matPrefix>lock</mat-icon>
                        </mat-form-field>
                    </p>

                    <p>
                        <button mat-fab (click)="onClick" color="primary">
                        <mat-icon class="mat-18">done_outline</mat-icon>
                    </button>
                    </p>
                </form>

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    controlar para mostrar entre os clicks e os retornos
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>